.textos1{
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://www.nicepng.com/png/full/778-7787549_ginger-heads-images-merida-hd-wallpaper-and-background.png) !important;
    background-repeat: no-repeat !important; 
    width: 95vh !important; 
    min-height: 100vh !important; 
    background-size: cover !important; 
    background-position: center !important;
}

.text-decorator-none{
    text-decoration: none !important;
}