.box1{
    background-color: #2b0711;
     height: 120px;
}

.box2{
    background-color: #3f101d;
    height: 60px;
}

.redes{
    font-size: 53px !important;
     color: white;
}

.textos{
    color: white;
}