.box1{
    background-color: #ef103dea;
     height: 120px;
}

.box2{
    background-color: #de0732ea;
    height: 60px;
}

.redes{
    font-size: 53px !important;
     color: white;
}

.textos{
    color: white;
}