.caixa{
    background-Color: #2b0711;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #562c9f;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoratorion: none;
}